* text=auto eol=lf
grammar/src/parser.c linguist-generated
grammar/src/grammar.json linguist-generated
grammar/src/node-types.json linguist-generated
grammar/src/tree_sitter/** linguist-generated
*.wasm binary
